/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 50px;
}

a {
  font-size: 18px;
}

div {
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: none;
  text-align: left; /* 텍스트를 왼쪽으로 정렬합니다. */
  padding: 10px;
}

.error_buttons {
  display: flex;
  flex-direction: flex-end;
}

button,
input {
  margin: 0px 10px 0px 0px;
}

.error-form {
  margin-bottom: 15px;
}
